<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="format-detection" content="telephone=no">
      <title>True Colors Team - Shop Demo</title>
      <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
      <link rel="stylesheet" href="shopdemo/css/font-awesome.min.css">
      <link rel="stylesheet" href="shopdemo/css/bootstrap.min.css">
      <link rel="stylesheet" href="shopdemo/css/ion.rangeSlider.css">
      <link rel="stylesheet" href="shopdemo/css/ion.rangeSlider.skinFlat.css">
      <link rel="stylesheet" href="shopdemo/css/jquery.bxslider.css">
      <link rel="stylesheet" href="shopdemo/css/jquery.fancybox.css">
      <link rel="stylesheet" href="shopdemo/css/flexslider.css">
      <link rel="stylesheet" href="shopdemo/css/swiper.css">
      <link rel="stylesheet" href="shopdemo/css/swiper.css">
      <link rel="stylesheet" href="shopdemo/css/style.css">
      <link rel="stylesheet" href="shopdemo/css/media.css">
   </head>
   <body>
      <!-- Header - start -->
      <header class="header">
         <!-- Topbar - start -->
         <div class="header_top">
            <div class="container">
               <ul class="contactinfo nav nav-pills">
                  <li>
                     <i class='fa fa-phone'></i> 097 203 77 02
                  </li>
                  <li>
                     <i class="fa fa-envelope"></i> truecolorsvn@gmail.com
                  </li>
               </ul>
               <!-- Social links -->
               <ul class="social-icons nav navbar-nav">
                  <li>
                     <a href="http://facebook.com" rel="nofollow" target="_blank">
                     <i class="fa fa-facebook"></i>
                     </a>
                  </li>
                  <li>
                     <a href="http://google.com" rel="nofollow" target="_blank">
                     <i class="fa fa-google-plus"></i>
                     </a>
                  </li>
                  <li>
                     <a href="http://twitter.com" rel="nofollow" target="_blank">
                     <i class="fa fa-twitter"></i>
                     </a>
                  </li>
                  <li>
                     <a href="http://instagram.com" rel="nofollow" target="_blank">
                     <i class="fa fa-instagram"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- Topbar - end -->
         <!-- Logo, Shop-menu - start -->
         <div class="header-middle">
            <div class="container header-middle-cont">
               <div class="toplogo">
                  <a href="/">
                  <img src="shopdemo/img/logoShadowHunter.png" alt="AllStore - MultiConcept eCommerce Template">
                  </a>
               </div>
               <div class="shop-menu">
                 <ul>
                    <li>
                       <a href="#">
                       <i class="fa fa-heart"></i>
                       <span class="shop-menu-ttl">Wishlist</span> (
                       <span id="topbar-favorites">1</span>)
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       <i class="fa fa-bar-chart"></i>
                       <span class="shop-menu-ttl">Compare</span> (5)
                       </a>
                    </li>
                    <li class="topauth">
                       <a href="#">
                       <i class="fa fa-lock"></i>
                       <span class="shop-menu-ttl">Registration</span>
                       </a>
                       <a href="#">
                       <span class="shop-menu-ttl">Login</span>
                       </a>
                    </li>
                    <li>
                       <div class="h-cart">
                          <a href="#">
                          <i class="fa fa-shopping-cart"></i>
                          <span class="shop-menu-ttl">Cart</span> (
                          <b>0</b>)
                          </a>
                       </div>
                    </li>
                 </ul>
               </div>
            </div>
         </div>
         <!-- Logo, Shop-menu - end -->
         <!-- Topmenu - start -->
         <div class="header-bottom">
            <div class="container">
               <nav class="topmenu">
               </nav>
            </div>
         </div>
         <!-- Topmenu - end -->
      </header>
      <!-- Header - end -->
      <!-- Main Content - start -->
      <main>
         <section class="container">
            <!-- Popular Products -->
            <div class="fr-pop-wrap">
               <h3 class="component-ttl"><span>Popular products</span></h3>
               <ul class="fr-pop-tabs sections-show">
                  <li><a data-frpoptab-num="1" data-frpoptab="#frpoptab-tab-1" href="#" class="active">All Categories</a></li>
                  <li><a data-frpoptab-num="3" data-frpoptab="#frpoptab-tab-3" href="#">Apparel</a></li>
                  <li><a data-frpoptab-num="4" data-frpoptab="#frpoptab-tab-4" href="#">accessories</a></li>
                  <li><a data-frpoptab-num="5" data-frpoptab="#frpoptab-tab-5" href="#">Lifestyle</a></li>
               </ul>
               <div class="fr-pop-tab-cont">
                  <p data-frpoptab-num="1" class="fr-pop-tab-mob active" data-frpoptab="#frpoptab-tab-1">All Categories</p>
                  <div class="flexslider prod-items fr-pop-tab" id="frpoptab-tab-1">
                     <ul class="slides">
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-shirts" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/1.jpg" alt="Aspernatur excepturi rem">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-shirts" class="prod-i-add">Go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-shirts">Shirts</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$90</b>
                           </p>
                           <div class="prod-i-skuwrapcolor">
                              <ul class="prod-i-skucolor">
                                 <li class="bx_active"><img src="shopdemo/img/color/red.jpg" alt="Red"></li>
                                 <li><img src="shopdemo/img/color/blue.jpg" alt="Blue"></li>
                              </ul>
                           </div>
                        </li>
												<li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-hats" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/2.jpg" alt="Blanditiis eaque">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-hats" class="prod-i-add">go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-hats">Hat Embroidery</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$75</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-bags" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/3.jpg" alt="Blanditiis eaque">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-bags" class="prod-i-add">go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-bags">Tote Bags</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$115</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-socks" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/4.jpg" alt="Excepturi ducimus">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-socks" class="prod-i-add">go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-socks">Personalized Socks</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$105</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-calendar" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/5.jpg" alt="Sit recusandae voluptas">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-calendar" class="prod-i-add">go to detail</a>
                              </p>
                              <div class="prod-sticker">
                                 <p class="prod-sticker-1">NEW</p>
                              </div>
                           </div>
                           <h3>
                              <a href="/product-calendar">Calendar</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$200</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-mugs" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/6.jpg" alt="Consequuntur minus atque">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-mugs" class="prod-i-add">go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-mugs">Personalized Coffee Mugs</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$160</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-pillows" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/7.jpg" alt="Nostrum nihil ipsa">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-pillows" class="prod-i-add">go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-pillows">Throw Pillows</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$140</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-phone" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/8.jpg" alt="Non ex sapiente deserunt">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-phone" class="prod-i-add">go to detail</a>
                              </p>
                              <div class="prod-sticker">
                                 <p class="prod-sticker-3">-30%</p>
                                 <p class="prod-sticker-4 countdown" data-date="29 Jan 2017, 14:30:00"></p>
                              </div>
                           </div>
                           <h3>
                              <a href="/product-phone">Personalized Phone Cases</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$65</b>
                           </p>
                        </li>
                     </ul>
                  </div>
                  <p data-frpoptab-num="3" class="fr-pop-tab-mob" data-frpoptab="#frpoptab-tab-3">Apparel</p>
                  <div class="flexslider prod-items fr-pop-tab" id="frpoptab-tab-3">
                     <ul class="slides">
											 <li class="prod-i">
													<div class="prod-i-top">
														 <a href="/product-calendar" class="prod-i-img">
																<!-- NO SPACE --><img src="shopdemo/img/front/popular/1/5.jpg" alt="Sit recusandae voluptas">
																<!-- NO SPACE -->
														 </a>
														 <p class="prod-i-info">
																<a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
																<a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
																<a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
														 </p>
														 <p class="prod-i-addwrap">
																<a href="/product-calendar" class="prod-i-add">go to detail</a>
														 </p>
														 <div class="prod-sticker">
																<p class="prod-sticker-1">NEW</p>
														 </div>
													</div>
													<h3>
														 <a href="/product-calendar">Calendar</a>
													</h3>
													<p class="prod-i-price">
														 <b>$200</b>
													</p>
											 </li>
											 <li class="prod-i">
													<div class="prod-i-top">
														 <a href="/product-shirts" class="prod-i-img">
																<!-- NO SPACE --><img src="shopdemo/img/front/popular/1/1.jpg" alt="Aspernatur excepturi rem">
																<!-- NO SPACE -->
														 </a>
														 <p class="prod-i-info">
																<a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
																<a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
																<a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
														 </p>
														 <p class="prod-i-addwrap">
																<a href="/product-shirts" class="prod-i-add">Go to detail</a>
														 </p>
													</div>
													<h3>
														 <a href="/product-shirts">Shirts</a>
													</h3>
													<p class="prod-i-price">
														 <b>$90</b>
													</p>
													<div class="prod-i-skuwrapcolor">
														 <ul class="prod-i-skucolor">
																<li class="bx_active"><img src="shopdemo/img/color/red.jpg" alt="Red"></li>
																<li><img src="shopdemo/img/color/blue.jpg" alt="Blue"></li>
														 </ul>
													</div>
											 </li>
										 </ul>
									</div>
                  <p data-frpoptab-num="4" class="fr-pop-tab-mob" data-frpoptab="#frpoptab-tab-4">Accessories</p>
                  <div class="flexslider prod-items fr-pop-tab" id="frpoptab-tab-4">
                     <ul class="slides">
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-hats" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/2.jpg" alt="Nisi provident atque">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-hats" class="prod-i-add">go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-hats">Hat Embroidery</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$130</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-bags" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/3.jpg" alt="Eveniet nobis minus possimus">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-bags" class="prod-i-add">go to detail</a>
                              </p>
                              <div class="prod-sticker">
                                 <p class="prod-sticker-1">NEW</p>
                              </div>
                           </div>
                           <h3>
                              <a href="/product-bags">Tote Bags</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$80</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-socks" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/4.jpg" alt="Quis ex fugiat blanditiis">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-socks" class="prod-i-add">Go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-socks">Personalized Socks</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$150</b>
                           </p>
                           <div class="prod-i-skuwrapcolor">
                              <ul class="prod-i-skucolor">
                                 <li class="bx_active"><img src="shopdemo/img/color/red.jpg" alt="Red"></li>
                                 <li><img src="shopdemo/img/color/blue.jpg" alt="Blue"></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <p data-frpoptab-num="5" class="fr-pop-tab-mob" data-frpoptab="#frpoptab-tab-5">Lifestyle</p>
                  <div class="flexslider prod-items fr-pop-tab" id="frpoptab-tab-5">
                     <ul class="slides">
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-mugs" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/6.jpg" alt="Nisi autem error">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-mugs" class="prod-i-add">Go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-mugs">Personalized Coffee Mugs</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$95</b>
                           </p>
                           <div class="prod-i-skuwrapcolor">
                              <ul class="prod-i-skucolor">
                                 <li class="bx_active"><img src="shopdemo/img/color/red.jpg" alt="Red"></li>
                                 <li><img src="shopdemo/img/color/blue.jpg" alt="Blue"></li>
                              </ul>
                           </div>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-pillows" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/7.jpg" alt="Tempora ea ratione vel">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-pillows" class="prod-i-add">go to detail</a>
                              </p>
                              <div class="prod-sticker">
                                 <p class="prod-sticker-2">HIT</p>
                              </div>
                           </div>
                           <h3>
                              <a href="/product-pillows">Throw Pillows</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$120</b>
                           </p>
                        </li>
                        <li class="prod-i">
                           <div class="prod-i-top">
                              <a href="/product-phone" class="prod-i-img">
                                 <!-- NO SPACE --><img src="shopdemo/img/front/popular/1/8.jpg" alt="Minus sequi iste">
                                 <!-- NO SPACE -->
                              </a>
                              <p class="prod-i-info">
                                 <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                                 <a href="#" class="prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                 <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                              </p>
                              <p class="prod-i-addwrap">
                                 <a href="/product-phone" class="prod-i-add">go to detail</a>
                              </p>
                           </div>
                           <h3>
                              <a href="/product-phone">Personalized Phone Cases</a>
                           </h3>
                           <p class="prod-i-price">
                              <b>$135</b>
                           </p>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- .fr-pop-tab-cont -->
            </div>
            <!-- .fr-pop-wrap -->
            <!-- Special offer -->
            <div class="discounts-wrap">
               <h3 class="component-ttl"><span>Special offer</span></h3>
               <div class="flexslider discounts-list">
                  <ul class="slides">
                     <li class="discounts-i">
                        <a href="/product-phone" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/8.jpg" alt="Dicta doloremque">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-phone">Personalized Phone Cases</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$115</b> <del>$135</del>
                        </p>
                     </li>
                     <li class="discounts-i">
                        <a href="/product-pillows" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/7.jpg" alt="Similique delectus">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-pillows">Throw Pillows</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$105</b> <del>$120</del>
                        </p>
                     </li>
                     <li class="discounts-i">
                        <a href="/product-mugs" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/6.jpg" alt="Adipisci nemo">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-mugs">Personalized Coffee Mugs</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$70</b> <del>$90</del>
                        </p>
                     </li>
                     <li class="discounts-i">
                        <a href="/product-socks" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/4.jpg" alt="Ullam harum">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-socks">Personalized Socks</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$55</b> <del>$75</del>
                        </p>
                     </li>
                     <li class="discounts-i">
                        <a href="/product-calendar" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/5.jpg" alt="Similique delectus">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-calendar">Calendar</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$135</b> <del>$155</del>
                        </p>
                     </li>
                     <li class="discounts-i">
                        <a href="/product-bags" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/3.jpg" alt="Туфли Dr.Koffer">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-bags">Tote Bags</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$190</b> <del>$210</del>
                        </p>
                     </li>
                     <li class="discounts-i">
                        <a href="/product-hats" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/2.jpg" alt="Quod consequatur">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-hats">Hat Embroidery</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$120</b> <del>$140</del>
                        </p>
                     </li>
                     <li class="discounts-i">
                        <a href="/product-shirts" class="discounts-i-img">
                        <img src="shopdemo/img/front/popular/1/1.jpg" alt="Dolore fugit">
                        </a>
                        <h3 class="discounts-i-ttl">
                           <a href="/product-shirts">Shirts</a>
                        </h3>
                        <p class="discounts-i-price">
                           <b>$80</b> <del>$95</del>
                        </p>
                     </li>
                  </ul>
               </div>
               <div class="discounts-info">
                  <p>Special offer!<br>Limited time only</p>
                  <a href="">Shop now</a>
               </div>
            </div>
            <!-- Subscribe Form -->
            <div class="newsletter">
               <h3>Subscribe to us</h3>
               <p>Enter your email if you want to receive our news</p>
               <form action="#">
                  <input placeholder="Your e-mail" type="text">
                  <input name="OK" value="Subscribe" type="submit">
               </form>
            </div>
            <!-- Quick View Product - start -->
            <div class="qview-modal">
               <div class="prod-wrap">
                  <a href="product.html">
                     <h1 class="main-ttl">
                        <span>Custom Printed Shirts</span>
                     </h1>
                  </a>
                  <div class="prod-slider-wrap">
                     <div class="prod-slider">
                        <ul class="prod-slider-car">
                           <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/1.jpg">
                              <img src="shopdemo/img/popup/1.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/2.jpg">
                              <img src="shopdemo/img/popup/2.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/3.jpg">
                              <img src="shopdemo/img/popup/3.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/4.jpg">
                              <img src="shopdemo/img/popup/4.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/5.jpg">
                              <img src="shopdemo/img/popup/5.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/6.jpg">
                              <img src="shopdemo/img/popup/6.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/7.jpg">
                              <img src="shopdemo/img/popup/7.jpg" alt="">
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div class="prod-thumbs">
                        <ul class="prod-thumbs-car">
                           <li>
                              <a data-slide-index="0" href="#">
                              <img src="shopdemo/img/popup/1.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-slide-index="1" href="#">
                              <img src="shopdemo/img/popup/2.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-slide-index="2" href="#">
                              <img src="shopdemo/img/popup/3.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-slide-index="3" href="#">
                              <img src="shopdemo/img/popup/4.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-slide-index="4" href="#">
                              <img src="shopdemo/img/popup/5.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-slide-index="5" href="#">
                              <img src="shopdemo/img/popup/6.jpg" alt="">
                              </a>
                           </li>
                           <li>
                              <a data-slide-index="6" href="#">
                              <img src="shopdemo/img/popup/7.jpg" alt="">
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="prod-cont">
                     <p class="prod-actions">
                        <a href="#" class="prod-favorites"><i class="fa fa-heart"></i> Add to Wishlist</a>
                        <a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i> Compare</a>
                     </p>
                     <div class="prod-skuwrap">
                        <p class="prod-skuttl">Color</p>
                        <ul class="prod-skucolor">
                           <li class="active">
                              <img src="shopdemo/img/color/blue.jpg" alt="">
                           </li>
                           <li>
                              <img src="shopdemo/img/color/red.jpg" alt="">
                           </li>
                           <li>
                              <img src="shopdemo/img/color/green.jpg" alt="">
                           </li>
                           <li>
                              <img src="shopdemo/img/color/yellow.jpg" alt="">
                           </li>
                           <li>
                              <img src="shopdemo/img/color/purple.jpg" alt="">
                           </li>
                        </ul>
                        <p class="prod-skuttl">Sizes</p>
                        <div class="offer-props-select">
                           <p>XL</p>
                           <ul>
                              <li><a href="#">XS</a></li>
                              <li><a href="#">S</a></li>
                              <li><a href="#">M</a></li>
                              <li class="active"><a href="#">XL</a></li>
                              <li><a href="#">L</a></li>
                              <li><a href="#">4XL</a></li>
                              <li><a href="#">XXL</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="prod-info">
                        <p class="prod-price">
                           <b class="item_current_price">$238</b>
                        </p>
                        <p class="prod-qnt">
                           <input type="text" value="1">
                           <a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
                           <a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
                        </p>
                        <p class="prod-addwrap">
                           <a href="#" class="prod-add">go to detail</a>
                        </p>
                     </div>
                     <ul class="prod-i-props">
                        <li>
                           <b>SKU</b> 05464207
                        </li>
                        <li>
                           <b>Manufacturer</b> Mayoral
                        </li>
                        <li>
                           <b>Material</b> Cotton
                        </li>
                        <li>
                           <b>Pattern Type</b> Print
                        </li>
                        <li>
                           <b>Wash</b> Colored
                        </li>
                        <li>
                           <b>Style</b> Cute
                        </li>
                        <li>
                           <b>Color</b> Blue, Red
                        </li>
                        <li><a href="#" class="prod-showprops">All Features</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- Quick View Product - end -->
         </section>
      </main>
      <!-- Main Content - end -->
      <!-- Footer - start -->
      <footer class="footer-wrap">
         <div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="companyinfo">
                     <a href="">
                     <img src="shopdemo/img/logoShadowHunter-b.png" alt="AllStore - MultiConcept eCommerce Responsive HTML5 Template"> We bring to you a creative lab, where you can play with your ideas and enjoy the designing world
                     </a>
                  </div>
                  <div class="f-block-list">
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-1">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/1.jpg" alt="About us">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-info-circle"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">About us</p>
                           <p>Welcome to true colors</p>
                        </div>
                     </div>
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-2">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/2.jpg" alt="Ask questions">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-phone"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">Ask questions</p>
                           <p>We call back within 10 minutes</p>
                        </div>
                     </div>
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-3" data-content="<iframe width='853' height='480' src='https://www.youtube.com/embed/FH0tmYWZdjA?rel=0&amp;showinfo=0' allowfullscreen></iframe>">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/3.jpg" alt="Video (2 min)">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-play-circle"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">Video Process</p>
                           <p>Watch a video about our product</p>
                        </div>
                     </div>
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-4">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/4.jpg" alt="Our address">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-map-marker"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">Our address</p>
                           <p>Room 202, Vietnam National University Information Technology Park, Linh Trung Ward, Thu Duc District, Vietnam</p>
                        </div>
                     </div>
                  </div>
								</div>
            </div>
         </div>
         <div class="container f-menu-list">
            <div class="row">
               <div class="f-menu">
                  <h3>
                     About us
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li class="active"><a href="">Home</a></li>
                     <li><a href="">Contacts</a></li>
                  </ul>
               </div>
               <div class="f-menu">
                  <h3>
                     Shop
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li><a>Apparel</a></li>
                     <li><a>Accessories</a></li>
                     <li><a>Lifestyle</a></li>
                  </ul>
               </div>
               <div class="f-menu">
                  <h3>
                     Information
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li><a href="">News</a></li>
                     <li><a href="">Reviews</a></li>
                  </ul>
               </div>
               <div class="f-menu">
                  <h3>
                     Pages
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li><a href="">About us</a></li>
                     <li><a href="">Contacts</a></li>
                     <li><a href="">Page 404</a></li>
                  </ul>
               </div>
               <div class="f-subscribe">
                  <h3>Subscribe to news</h3>
                  <form class="f-subscribe-form" action="#">
                     <input placeholder="Your e-mail" type="text">
                     <button type="submit"><i class="fa fa-paper-plane"></i></button>
                  </form>
                  <p>Enter your email address if you want to receive our newsletter. Subscribe now!</p>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <ul class="social-icons nav navbar-nav">
                     <li>
                        <a href="http://facebook.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-facebook"></i>
                        </a>
                     </li>
                     <li>
                        <a href="http://google.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-google-plus"></i>
                        </a>
                     </li>
                     <li>
                        <a href="http://twitter.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-twitter"></i>
                        </a>
                     </li>
                     <li>
                        <a href="http://instagram.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-instagram"></i>
                        </a>
                     </li>
                  </ul>
                  <div class="footer-copyright">
                     <i><a href="http://truecolor.gpat.vn">True Colors</a></i> © Copyright 2017
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer - end -->
      <!-- jQuery plugins/scripts - start -->
      <script src="shopdemo/js/jquery-1.11.2.min.js"></script>
      <script src="shopdemo/js/jquery.bxslider.min.js"></script>
      <script src="shopdemo/js/fancybox/fancybox.js"></script>
      <script src="shopdemo/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
      <script src="shopdemo/js/jquery.flexslider-min.js"></script>
      <script src="shopdemo/js/swiper.jquery.min.js"></script>
      <script src="shopdemo/js/jquery.waypoints.min.js"></script>
      <script src="shopdemo/js/progressbar.min.js"></script>
      <script src="shopdemo/js/ion.rangeSlider.min.js"></script>
      <script src="shopdemo/js/chosen.jquery.min.js"></script>
      <script src="shopdemo/js/jQuery.Brazzers-Carousel.js"></script>
      <script src="shopdemo/js/plugins.js"></script>
      <script src="shopdemo/js/main.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
      <script src="shopdemo/js/gmap.js"></script>
      <!-- jQuery plugins/scripts - end -->
   </body>
</html>
