  <!DOCTYPE html>
  <html lang="en">
     <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <title>True Colors Team - Shop Demo</title>
        <link rel="shortcut icon" type="image/png" href="shopdemo/img/logoShadowHunter.png"/>
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="shopdemo/css/font-awesome.min.css">
        <link rel="stylesheet" href="shopdemo/css/bootstrap.min.css">
        <link rel="stylesheet" href="shopdemo/css/ion.rangeSlider.css">
        <link rel="stylesheet" href="shopdemo/css/ion.rangeSlider.skinFlat.css">
        <link rel="stylesheet" href="shopdemo/css/jquery.bxslider.css">
        <link rel="stylesheet" href="shopdemo/css/jquery.fancybox.css">
        <link rel="stylesheet" href="shopdemo/css/flexslider.css">
        <link rel="stylesheet" href="shopdemo/css/swiper.css">
        <link rel="stylesheet" href="shopdemo/css/swiper.css">
        <link rel="stylesheet" href="shopdemo/css/style.css">
        <link rel="stylesheet" href="shopdemo/css/media.css">

        <link type="text/css" href="css/colorpicker.min.css" rel="stylesheet">
        <link type="text/css" href="css/tui-image-editor.css" rel="stylesheet">

     </head>
     <body>
        <!-- Header - start -->
        <header class="header">
           <!-- Topbar - start -->
           <div class="header_top">
              <div class="container">
                 <ul class="contactinfo nav nav-pills">
                    <li>
                       <i class='fa fa-phone'></i> 097 203 77 02
                    </li>
                    <li>
                       <i class="fa fa-envelope"></i> truecolorsvn@gmail.com
                    </li>
                 </ul>
                 <!-- Social links -->
                 <ul class="social-icons nav navbar-nav">
                    <li>
                       <a href="http://facebook.com" rel="nofollow" target="_blank">
                       <i class="fa fa-facebook"></i>
                       </a>
                    </li>
                    <li>
                       <a href="http://google.com" rel="nofollow" target="_blank">
                       <i class="fa fa-google-plus"></i>
                       </a>
                    </li>
                    <li>
                       <a href="http://twitter.com" rel="nofollow" target="_blank">
                       <i class="fa fa-twitter"></i>
                       </a>
                    </li>
                    <li>
                       <a href="http://instagram.com" rel="nofollow" target="_blank">
                       <i class="fa fa-instagram"></i>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <!-- Topbar - end -->
           <!-- Logo, Shop-menu - start -->
           <div class="header-middle">
              <div class="container header-middle-cont">
                 <div class="toplogo">
                    <a href="/">
                    <img src="shopdemo/img/logoShadowHunter.png" alt="AllStore - MultiConcept eCommerce Template">
                    </a>
                 </div>
                 <div class="shop-menu">
                    <ul>
                       <li>
                          <a href="#">
                          <i class="fa fa-heart"></i>
                          <span class="shop-menu-ttl">Wishlist</span> (
                          <span id="topbar-favorites">1</span>)
                          </a>
                       </li>
                       <li>
                          <a href="#">
                          <i class="fa fa-bar-chart"></i>
                          <span class="shop-menu-ttl">Compare</span> (5)
                          </a>
                       </li>
                       <li class="topauth">
                          <a href="#">
                          <i class="fa fa-lock"></i>
                          <span class="shop-menu-ttl">Registration</span>
                          </a>
                          <a href="#">
                          <span class="shop-menu-ttl">Login</span>
                          </a>
                       </li>
                       <li>
                          <div class="h-cart">
                             <a href="#">
                             <i class="fa fa-shopping-cart"></i>
                             <span class="shop-menu-ttl">Cart</span> (
                             <b>0</b>)
                             </a>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
           <!-- Logo, Shop-menu - end -->
           <!-- Topmenu - start -->
           <div class="header-bottom">
              <div class="container">
                 <nav class="topmenu">
                 </nav>
              </div>
           </div>
           <!-- Topmenu - end -->
        </header>
        <!-- Header - end -->
        <!-- Main Content - start -->
        <main>
           <section class="container">
              <h1 class="main-ttl"><span>Totes Bags</span></h1>
              <!-- Single Product - start -->
              <div class="prod-wrap">
                 <!-- Product Images -->
                 <div class="prod-slider-wrap">
                    <div class="prod-slider">
                      <ul class="prod-slider-car">
                         <li>
                            <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/1.jpg">
                            <img src="shopdemo/img/popup3/1.jpg" alt="">
                            </a>
                         </li>
                         <li>
                            <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/2.jpg">
                            <img src="shopdemo/img/popup3/2.jpg" alt="">
                            </a>
                         </li>
                         <li>
                            <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/3.jpg">
                            <img src="shopdemo/img/popup3/3.jpg" alt="">
                            </a>
                         </li>
                         <li>
                            <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/4.jpg">
                            <img src="shopdemo/img/popup3/4.jpg" alt="">
                            </a>
                         </li>
                         <li>
                            <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/5.jpg">
                            <img src="shopdemo/img/popup3/5.jpg" alt="">
                            </a>
                         </li>
                         <li>
                            <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/6.jpg">
                            <img src="shopdemo/img/popup3/6.jpg" alt="">
                            </a>
                         </li>
                         <li>
                            <a data-fancybox-group="popup-product" class="fancy-img" href="img/popup/7.jpg">
                            <img src="shopdemo/img/popup3/7.jpg" alt="">
                            </a>
                         </li>
                      </ul>
                    </div>
                    <div class="prod-thumbs">
                       <ul class="prod-thumbs-car">
                          <li>
                             <a data-slide-index="0" href="#">
                             <img src="shopdemo/img/popup3/1.jpg" alt="">
                             </a>
                          </li>
                          <li>
                             <a data-slide-index="1" href="#">
                             <img src="shopdemo/img/popup3/2.jpg" alt="">
                             </a>
                          </li>
                          <li>
                             <a data-slide-index="2" href="#">
                             <img src="shopdemo/img/popup3/3.jpg" alt="">
                             </a>
                          </li>
                          <li>
                             <a data-slide-index="3" href="#">
                             <img src="shopdemo/img/popup3/4.jpg" alt="">
                             </a>
                          </li>
                          <li>
                             <a data-slide-index="4" href="#">
                             <img src="shopdemo/img/popup3/5.jpg" alt="">
                             </a>
                          </li>
                          <li>
                             <a data-slide-index="5" href="#">
                             <img src="shopdemo/img/popup3/6.jpg" alt="">
                             </a>
                          </li>
                          <li>
                             <a data-slide-index="6" href="#">
                             <img src="shopdemo/img/popup3/7.jpg" alt="">
                             </a>
                          </li>
                       </ul>
                    </div>
                 </div>
                 <!-- Product Description/Info -->
                 <div class="prod-cont">
                    <div class="prod-cont-txt">
                       Bags for your books, groceries and all your little everyday items.
                    </div>
                    <p class="prod-actions">
                       <a href="#" class="prod-favorites"><i class="fa fa-heart"></i> Wishlist</a>
                       <a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i> Compare</a>
                    </p>
                    <div class="prod-skuwrap">
                       <p class="prod-skuttl">Color</p>
                       <ul class="prod-skucolor">
                          <li class="active">
                             <img src="shopdemo/img/color/blue.jpg" alt="">
                          </li>
                          <li>
                             <img src="shopdemo/img/color/red.jpg" alt="">
                          </li>
                          <li>
                             <img src="shopdemo/img/color/green.jpg" alt="">
                          </li>
                          <li>
                             <img src="shopdemo/img/color/yellow.jpg" alt="">
                          </li>
                          <li>
                             <img src="shopdemo/img/color/purple.jpg" alt="">
                          </li>
                       </ul>
                       <p class="prod-skuttl">CLOTHING SIZES</p>
                       <div class="offer-props-select">
                          <p>XL</p>
                          <ul>
                             <li><a href="#">XS</a></li>
                             <li><a href="#">S</a></li>
                             <li><a href="#">M</a></li>
                             <li class="active"><a href="#">XL</a></li>
                             <li><a href="#">L</a></li>
                             <li><a href="#">4XL</a></li>
                             <li><a href="#">XXL</a></li>
                          </ul>
                       </div>
                    </div>
                    <div class="prod-info">
                       <p class="prod-price">
                          <b class="item_current_price">$135</b>
                       </p>
                       <p class="prod-qnt">
                          <input value="1" type="text">
                          <a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
                          <a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
                       </p>
                       <p class="prod-addwrap">
                          <a href="/product-contact" class="prod-add" rel="nofollow">Add to cart</a>
                       </p>
                       <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" onclick="addImage('shopdemo/img/product/3.png')">Your Design</button>
                    </div>
                    <ul class="prod-i-props">
                       <li>
                          <b>SKU</b> 05464207
                       </li>
                       <li>
                          <b>Material</b> Nylon
                       </li>
                       <li>
                          <b>Pattern Type</b> Solid
                       </li>
                       <li>
                          <b>Wash</b> Colored
                       </li>
                       <li>
                          <b>Style</b> Sport
                       </li>
                       <li>
                          <b>Color</b> Blue
                       </li>
                       <li>
                          <b>Gender</b> Unisex
                       </li>
                       <li>
                          <b>Rain Cover</b> No
                       </li>
                       <li>
                          <b>Exterior</b> Solid Bag
                       </li>
                       <li><a href="#" class="prod-showprops">All Features</a></li>
                    </ul>
                 </div>
                 <!-- Product Tabs -->
                 <div class="prod-tabs-wrap">
                    <ul class="prod-tabs">
                       <li><a data-prodtab-num="1" class="active" href="#" data-prodtab="#prod-tab-1">Description</a></li>
                       <li><a data-prodtab-num="2" id="prod-props" href="#" data-prodtab="#prod-tab-2">Features</a></li>
                       <li><a data-prodtab-num="3" href="#" data-prodtab="#prod-tab-3">Video</a></li>
                       <li><a data-prodtab-num="4" href="#" data-prodtab="#prod-tab-4">Articles (6)</a></li>
                       <li><a data-prodtab-num="5" href="#" data-prodtab="#prod-tab-5">Reviews (3)</a></li>
                    </ul>
                 </div>
              </div>
              <!-- Single Product - end -->
              <!-- Related Products - start -->
              <div class="prod-related">
                 <h2><span>Related products</span></h2>
                 <div class="prod-related-car" id="prod-related-car">
                    <ul class="slides">
                       <li class="prod-rel-wrap">
                         <div class="prod-rel">
                            <a href="/product-shirts" class="prod-rel-img">
                            <img src="shopdemo/img/front/popular/1/1.jpg" alt="Nulla numquam obcaecati">
                            </a>
                            <div class="prod-rel-cont">
                               <h3><a href="/product-shirts">Shirts</a></h3>
                               <p class="prod-rel-price">
                                  <b>$48</b>
                               </p>
                               <div class="prod-rel-actions">
                                  <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                  <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                  <p class="prod-i-addwrap">
                                     <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                  </p>
                               </div>
                            </div>
                         </div>
                          <div class="prod-rel">
                             <a href="/product-hats" class="prod-rel-img">
                             <img src="shopdemo/img/front/popular/1/2.jpg" alt="Nulla numquam obcaecati">
                             </a>
                             <div class="prod-rel-cont">
                                <h3><a href="/product-hats">Hat Embroidery</a></h3>
                                <p class="prod-rel-price">
                                   <b>$48</b>
                                </p>
                                <div class="prod-rel-actions">
                                   <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                   <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                   <p class="prod-i-addwrap">
                                      <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="prod-rel">
                             <a href="/product-bags" class="prod-rel-img">
                             <img src="shopdemo/img/front/popular/1/3.jpg" alt="Dignissimos eaque earum">
                             </a>
                             <div class="prod-rel-cont">
                                <h3><a href="/product-bags">Tote Bags</a></h3>
                                <p class="prod-rel-price">
                                   <b>$37</b>
                                </p>
                                <div class="prod-rel-actions">
                                   <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                   <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                   <p class="prod-i-addwrap">
                                      <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="prod-rel">
                             <a href="/product-socks" class="prod-rel-img">
                             <img src="shopdemo/img/front/popular/1/4.jpg" alt="Porro quae quasi">
                             </a>
                             <div class="prod-rel-cont">
                                <h3><a href="/product-socks">Personalized Socks</a></h3>
                                <p class="prod-rel-price">
                                   <b>$85</b>
                                </p>
                                <div class="prod-rel-actions">
                                   <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                   <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                   <p class="prod-i-addwrap">
                                      <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                   </p>
                                </div>
                             </div>
                          </div>
                       </li>
                       <li class="prod-rel-wrap">
                          <div class="prod-rel">
                             <a href="/product-calendar" class="prod-rel-img">
                             <img src="shopdemo/img/front/popular/1/5.jpg" alt="Sunt temporibus velit">
                             </a>
                             <div class="prod-rel-cont">
                                <h3><a href="/product-calendar">Calendar</a></h3>
                                <p class="prod-rel-price">
                                   <b>$115</b>
                                </p>
                                <div class="prod-rel-actions">
                                   <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                   <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                   <p class="prod-i-addwrap">
                                      <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="prod-rel">
                             <a href="/product-mugs" class="prod-rel-img">
                             <img src="shopdemo/img/front/popular/1/6.jpg" alt="Harum illum incidunt">
                             </a>
                             <div class="prod-rel-cont">
                                <h3><a href="/product-mugs">Personalized Coffee Mugs</a></h3>
                                <p class="prod-rel-price">
                                   <b>$130</b>
                                </p>
                                <div class="prod-rel-actions">
                                   <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                   <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                   <p class="prod-i-addwrap">
                                      <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="prod-rel">
                             <a href="/product-pillows" class="prod-rel-img">
                             <img src="shopdemo/img/front/popular/1/7.jpg" alt="Reprehenderit rerum">
                             </a>
                             <div class="prod-rel-cont">
                                <h3><a href="/product-pillows">Throw Pillows</a></h3>
                                <p class="prod-rel-price">
                                   <b>$210</b>
                                </p>
                                <div class="prod-rel-actions">
                                   <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                   <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                   <p class="prod-i-addwrap">
                                      <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="prod-rel">
                             <a href="/product-phone" class="prod-rel-img">
                             <img src="shopdemo/img/front/popular/1/8.jpg" alt="Quae quasi adipisci alias">
                             </a>
                             <div class="prod-rel-cont">
                                <h3><a href="/product-phone">Personalized Phone Cases</a></h3>
                                <p class="prod-rel-price">
                                   <b>$85</b>
                                </p>
                                <div class="prod-rel-actions">
                                   <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                   <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                   <p class="prod-i-addwrap">
                                      <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                   </p>
                                </div>
                             </div>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>
              <!-- Related Products - end -->
           </section>
        </main>
        <!-- Main Content - end -->
        <!-- Footer - start -->
        <footer class="footer-wrap">
           <div class="footer-top">
              <div class="container">
                 <div class="row">
                    <div class="companyinfo">
                       <a href="/">
                       <img src="shopdemo/img/logoShadowHunter-b.png" alt="AllStore - MultiConcept eCommerce Responsive HTML5 Template"> We bring to you a creative lab, where you can play with your ideas and enjoy the designing world
                       </a>
                    </div>
                    <div class="f-block-list">
                       <div class="f-block-wrap">
                          <div class="f-block">
                             <a href="#" class="f-block-btn" data-id="#f-block-modal-1">
                                <div class="iframe-img">
                                   <img src="shopdemo/img/footer/1.jpg" alt="About us">
                                </div>
                                <div class="overlay-icon">
                                   <i class="fa fa-info-circle"></i>
                                </div>
                             </a>
                             <p class="f-info-ttl">About us</p>
                             <p>Welcome to true colors</p>
                          </div>
                       </div>
                       <div class="f-block-wrap">
                          <div class="f-block">
                             <a href="#" class="f-block-btn" data-id="#f-block-modal-2">
                                <div class="iframe-img">
                                   <img src="shopdemo/img/footer/2.jpg" alt="Ask questions">
                                </div>
                                <div class="overlay-icon">
                                   <i class="fa fa-phone"></i>
                                </div>
                             </a>
                             <p class="f-info-ttl">Ask questions</p>
                             <p>We call back within 10 minutes</p>
                          </div>
                       </div>
                       <div class="f-block-wrap">
                          <div class="f-block">
                             <a href="#" class="f-block-btn" data-id="#f-block-modal-3" data-content="<iframe width='853' height='480' src='https://www.youtube.com/embed/FH0tmYWZdjA?rel=0&amp;showinfo=0' allowfullscreen></iframe>">
                                <div class="iframe-img">
                                   <img src="shopdemo/img/footer/3.jpg" alt="Video (2 min)">
                                </div>
                                <div class="overlay-icon">
                                   <i class="fa fa-play-circle"></i>
                                </div>
                             </a>
                             <p class="f-info-ttl">Video Process</p>
                             <p>Watch a video about our product</p>
                          </div>
                       </div>
                       <div class="f-block-wrap">
                          <div class="f-block">
                             <a href="#" class="f-block-btn" data-id="#f-block-modal-4">
                                <div class="iframe-img">
                                   <img src="shopdemo/img/footer/4.jpg" alt="Our address">
                                </div>
                                <div class="overlay-icon">
                                   <i class="fa fa-map-marker"></i>
                                </div>
                             </a>
                             <p class="f-info-ttl">Our address</p>
                             <p>Room 202, Vietnam National University Information Technology Park, Linh Trung Ward, Thu Duc District, Vietnam</p>
                          </div>
                       </div>
                    </div>
  								</div>
              </div>
           </div>
           <div class="container f-menu-list">
              <div class="row">
                 <div class="f-menu">
                    <h3>
                       About us
                    </h3>
                    <ul class="nav nav-pills nav-stacked">
                       <li class="active"><a href="">Home</a></li>
                       <li><a href="">Contacts</a></li>
                    </ul>
                 </div>
                 <div class="f-menu">
                    <h3>
                       Shop
                    </h3>
                    <ul class="nav nav-pills nav-stacked">
                       <li><a>Apparel</a></li>
                       <li><a>Accessories</a></li>
                       <li><a>Lifestyle</a></li>
                    </ul>
                 </div>
                 <div class="f-menu">
                    <h3>
                       Information
                    </h3>
                    <ul class="nav nav-pills nav-stacked">
                       <li><a href="">News</a></li>
                       <li><a href="">Reviews</a></li>
                    </ul>
                 </div>
                 <div class="f-menu">
                    <h3>
                       Pages
                    </h3>
                    <ul class="nav nav-pills nav-stacked">
                       <li><a href="">About us</a></li>
                       <li><a href="">Contacts</a></li>
                       <li><a href="">Page 404</a></li>
                    </ul>
                 </div>
                 <div class="f-subscribe">
                    <h3>Subscribe to news</h3>
                    <form class="f-subscribe-form" action="#">
                       <input placeholder="Your e-mail" type="text">
                       <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                    <p>Enter your email address if you want to receive our newsletter. Subscribe now!</p>
                 </div>
              </div>
           </div>
           <div class="footer-bottom">
              <div class="container">
                 <div class="row">
                    <ul class="social-icons nav navbar-nav">
                       <li>
                          <a href="http://facebook.com/" rel="nofollow" target="_blank">
                          <i class="fa fa-facebook"></i>
                          </a>
                       </li>
                       <li>
                          <a href="http://google.com/" rel="nofollow" target="_blank">
                          <i class="fa fa-google-plus"></i>
                          </a>
                       </li>
                       <li>
                          <a href="http://twitter.com/" rel="nofollow" target="_blank">
                          <i class="fa fa-twitter"></i>
                          </a>
                       </li>
                       <li>
                          <a href="http://instagram.com/" rel="nofollow" target="_blank">
                          <i class="fa fa-instagram"></i>
                          </a>
                       </li>
                    </ul>
                    <div class="footer-copyright">
                       <i><a href="http://truecolor.gpat.vn">True Colors</a></i> © Copyright 2017
                    </div>
                 </div>
              </div>
           </div>
        </footer>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">True colors</h4>
                </div>
                <div class="modal-body">
                    <div class="tui-image-editor-controls">
                        <div class="toolbar">
                            <ul class="menu">
                                <li class="menu-item" id="btn-download"><img src="img/icon/Download.png" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download" class="red-tooltip" onmouseover="this.src='img/icon/Download-red.png'" onmouseout="this.src='img/icon/Download.png'"></li>

                                <li class="menu-item disabled" id="btn-undo"><img src="img/icon/Undo.png" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Undo" class="red-tooltip" onmouseover="this.src='img/icon/Undo-red.png'" onmouseout="this.src='img/icon/Undo.png'"></li>
                                <li class="menu-item disabled" id="btn-redo"><img src="img/icon/Redo.png" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Redo" class="red-tooltip" onmouseover="this.src='img/icon/Redo-red.png'" onmouseout="this.src='img/icon/Redo.png'"></li>
                                <li class="menu-item" id="btn-remove-active-object"><img src="img/icon/Trash.png" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete" class="red-tooltip" onmouseover="this.src='img/icon/Trash-red.png'" onmouseout="this.src='img/icon/Trash.png'"></li>
                                <li class="menu-item" id="btn-crop"><img id="img-crop" src="img/icon/Crop.png" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Crop" class="red-tooltip" onmouseover="this.src='img/icon/Crop-red.png'" onmouseout="this.src='img/icon/Crop.png'"></li>
                                <li class="menu-item" id="btn-draw-line"><img src="img/icon/Draw.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Draw" class="red-tooltip" onmouseover="this.src='img/icon/Draw-red.png'" onmouseout="this.src='img/icon/Draw.png'"></li>
                                <li class="menu-item" id="btn-draw-shape"><img src="img/icon/Shapes.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Shapes" class="red-tooltip" onmouseover="this.src='img/icon/Shapes-red.png'" onmouseout="this.src='img/icon/Shapes.png'"></li>
                                <li class="menu-item" id="btn-text"><img src="img/icon/Text.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Text" class="red-tooltip" onmouseover="this.src='img/icon/Text-red.png'" onmouseout="this.src='img/icon/Text.png'"></li>
                                <li class="menu-item input-wrapper" id="btn-mask-filter"><img src="img/icon/Upload-image.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upload-Logo" class="red-tooltip" onmouseover="this.src='img/icon/Upload-image-red.png'" onmouseout="this.src='img/icon/Upload-image.png'"><input type="file" accept="image/*" id="input-mask-image-file"></li>
                            </ul>
                        </div>
                        <div class="sub-menu-container" id="crop-sub-menu">
                            <ul class="menu">
                                <li class="menu-item" id="btn-apply-crop"><img src="img/icon/Apply.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Apply" class="red-tooltip" onmouseover="this.src='img/icon/Apply-red.png'" onmouseout="this.src='img/icon/Apply.png'"></li>
                                <li class="menu-item" id="btn-cancel-crop"><img src="img/icon/Close.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close" class="red-tooltip" onmouseover="this.src='img/icon/Close-red.png'" onmouseout="this.src='img/icon/Close.png'"></li>
                            </ul>
                        </div>
                        <div class="sub-menu-container menu" id="draw-line-sub-menu">
                            <ul class="menu">
                                <li class="menu-item">
                                    <label><input type="radio" name="select-line-type" value="freeDrawing" checked="checked"><img src="img/icon/Paint.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Free drawing" class="red-tooltip" onmouseover="this.src='img/icon/Paint-red.png'" onmouseout="this.src='img/icon/Paint.png'"></label>
                                    <label><input type="radio" name="select-line-type" value="lineDrawing"><img src="img/icon/Line.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Straight line" class="red-tooltip" onmouseover="this.src='img/icon/Line-red.png'" onmouseout="this.src='img/icon/Line.png'"></label>
                                </li>
                                <li class="menu-item">
                                    <div id="tui-brush-color-picker">Brush color</div>
                                </li>
                                <li class="menu-item"><label class="menu-item no-pointer">Brush width<input id="input-brush-width-range" type="range" min="5" max="30" value="12"></label></li>
                                <li class="menu-item close"><img src="img/icon/Close.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close" class="red-tooltip" onmouseover="this.src='img/icon/Close-red.png'" onmouseout="this.src='img/icon/Close.png'"></li>
                            </ul>
                        </div>
                        <div class="sub-menu-container" id="draw-shape-sub-menu">
                            <ul class="menu">
                                <li class="menu-item">
                                    <label><input type="radio" name="select-shape-type" value="rect" checked="checked"><img src="img/icon/Square.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Square" class="red-tooltip" onmouseover="this.src='img/icon/Square-red.png'" onmouseout="this.src='img/icon/Square.png'"></label>
                                    <label><input type="radio" name="select-shape-type" value="circle"><img src="img/icon/Circle.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Circle" class="red-tooltip" onmouseover="this.src='img/icon/Circle-red.png'" onmouseout="this.src='img/icon/Circle.png'"></label>
                                    <label><input type="radio" name="select-shape-type" value="triangle"><img src="img/icon/Triangle.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Triangle" class="red-tooltip" onmouseover="this.src='img/icon/Triangle-red.png'" onmouseout="this.src='img/icon/Triangle.png'"></label>
                                </li>
                                <li class="menu-item">
                                    <select name="select-color-type">
                                        <option value="fill">Fill</option>
                                        <option value="stroke">Stroke</option>
                                    </select>
                                    <label><input type="checkbox" id="input-check-transparent">transparent</label>
                                    <div id="tui-shape-color-picker"></div>
                                </li>
                                <li class="menu-item"><label class="menu-item no-pointer">Stroke width<input id="input-stroke-width-range" type="range" min="0" max="300" value="6"></label></li>
                                <li class="menu-item close"><img src="img/icon/Close.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close" class="red-tooltip" onmouseover="this.src='img/icon/Close-red.png'" onmouseout="this.src='img/icon/Close.png'"></li>
                            </ul>
                        </div>
                        <div class="sub-menu-container" id="icon-sub-menu">
                            <ul class="menu">
                                <li class="menu-item">
                                    <div id="tui-icon-color-picker">Icon color</div>
                                </li>
                                <li class="menu-item border" id="btn-register-icon">Register custom icon</li>
                                <li class="menu-item icon-text" data-icon-type="arrow">➡</li>
                                <li class="menu-item icon-text" data-icon-type="cancel">✖</li>
                                <li class="menu-item close"><img src="img/icon/Close.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close" class="red-tooltip" onmouseover="this.src='img/icon/Close-red.png'" onmouseout="this.src='img/icon/Close.png'"></li>
                            </ul>
                        </div>
                        <div class="sub-menu-container" id="text-sub-menu">
                            <ul class="menu">
                                <li class="menu-item">
                                    <div>
                                        <button class="btn-text-style" data-style-type="b"><img src="img/icon/Bold.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bold" class="red-tooltip" onmouseover="this.src='img/icon/Bold-red.png'" onmouseout="this.src='img/icon/Bold.png'"></button>
                                        <button class="btn-text-style" data-style-type="i"><img src="img/icon/Italic.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Italic" class="red-tooltip" onmouseover="this.src='img/icon/Italic-red.png'" onmouseout="this.src='img/icon/Italic.png'"></button>
                                        <button class="btn-text-style" data-style-type="u"><img src="img/icon/Underline.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Underline" class="red-tooltip" onmouseover="this.src='img/icon/Underline-red.png'" onmouseout="this.src='img/icon/Underline.png'"></button>
                                    <!-- </div>
                                    <div> -->
                                        <button class="btn-text-style" data-style-type="l"><img src="img/icon/Align-left.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Align-left" class="red-tooltip" onmouseover="this.src='img/icon/Align-left-red.png'" onmouseout="this.src='img/icon/Align-left.png'"></button>
                                        <button class="btn-text-style" data-style-type="c"><img src="img/icon/Center.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Center" class="red-tooltip" onmouseover="this.src='img/icon/Center-red.png'" onmouseout="this.src='img/icon/Center.png'"></button>
                                        <button class="btn-text-style" data-style-type="r"><img src="img/icon/Align-right.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Align-right" class="red-tooltip" onmouseover="this.src='img/icon/Align-right-red.png'" onmouseout="this.src='img/icon/Align-right.png'"></button>
                                    </div>
                                </li>
                                <!-- <li class="menu-item"><label class="no-pointer">Font size<input id="input-font-size-range" type="range" min="10" max="100" value="10"></label></li> -->
                                <li class="menu-item">
                                    <div id="tui-text-color-picker">Choose color</div>
                                </li>
                                <li class="menu-item close"><img src="img/icon/Close.png" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close" class="red-tooltip" onmouseover="this.src='img/icon/Close-red.png'" onmouseout="this.src='img/icon/Close.png'"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tui-image-editor"></div>
                </div>
            </div>
        </div>

        <!-- Footer - end -->
        <!-- jQuery plugins/scripts - start -->
        <script src="shopdemo/js/jquery-1.11.2.min.js"></script>
        <%# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>%>
        <script src="shopdemo/js/jquery.bxslider.min.js"></script>
        <script src="shopdemo/js/fancybox/fancybox.js"></script>
        <script src="shopdemo/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
        <script src="shopdemo/js/jquery.flexslider-min.js"></script>
        <script src="shopdemo/js/swiper.jquery.min.js"></script>
        <script src="shopdemo/js/jquery.waypoints.min.js"></script>
        <script src="shopdemo/js/progressbar.min.js"></script>
        <script src="shopdemo/js/ion.rangeSlider.min.js"></script>
        <script src="shopdemo/js/chosen.jquery.min.js"></script>
        <script src="shopdemo/js/jQuery.Brazzers-Carousel.js"></script>
        <script src="shopdemo/js/plugins.js"></script>
        <script src="shopdemo/js/main.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
        <script src="shopdemo/js/gmap.js"></script>
        <!-- jQuery plugins/scripts - end -->

        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.4/fabric.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/nhnent/tui.code-snippet/1.2.1/code-snippet.js"></script>
        <script type="text/javascript" src="js/colorpicker.min.js"></script>
        <script type="text/javascript" src="js/tui-image-editor.js"></script>
        <script type="text/javascript" src="js/basic.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("img").tooltip();
                $('#myModal').modal({backdrop: 'static', keyboard: false, show: false});
            });
        </script>

     </body>
  </html>
