<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="format-detection" content="telephone=no">
      <title>True Colors Team - Shop Demo</title>
      <link rel="shortcut icon" type="image/png" href="shopdemo/img/logoShadowHunter.png"/>
      <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
      <link rel="stylesheet" href="shopdemo/css/font-awesome.min.css">
      <link rel="stylesheet" href="shopdemo/css/bootstrap.min.css">
      <link rel="stylesheet" href="shopdemo/css/ion.rangeSlider.css">
      <link rel="stylesheet" href="shopdemo/css/ion.rangeSlider.skinFlat.css">
      <link rel="stylesheet" href="shopdemo/css/jquery.bxslider.css">
      <link rel="stylesheet" href="shopdemo/css/jquery.fancybox.css">
      <link rel="stylesheet" href="shopdemo/css/flexslider.css">
      <link rel="stylesheet" href="shopdemo/css/swiper.css">
      <link rel="stylesheet" href="shopdemo/css/swiper.css">
      <link rel="stylesheet" href="shopdemo/css/style.css">
      <link rel="stylesheet" href="shopdemo/css/media.css">
   </head>
   <body>
      <!-- Header - start -->
      <header class="header">
         <!-- Topbar - start -->
         <div class="header_top">
            <div class="container">
               <ul class="contactinfo nav nav-pills">
                  <li>
                     <i class='fa fa-phone'></i> 097 203 77 02
                  </li>
                  <li>
                     <i class="fa fa-envelope"></i> truecolorsvn@gmail.com
                  </li>
               </ul>
               <!-- Social links -->
               <ul class="social-icons nav navbar-nav">
                  <li>
                     <a href="http://facebook.com" rel="nofollow" target="_blank">
                     <i class="fa fa-facebook"></i>
                     </a>
                  </li>
                  <li>
                     <a href="http://google.com" rel="nofollow" target="_blank">
                     <i class="fa fa-google-plus"></i>
                     </a>
                  </li>
                  <li>
                     <a href="http://twitter.com" rel="nofollow" target="_blank">
                     <i class="fa fa-twitter"></i>
                     </a>
                  </li>
                  <li>
                     <a href="http://instagram.com" rel="nofollow" target="_blank">
                     <i class="fa fa-instagram"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- Topbar - end -->
         <!-- Logo, Shop-menu - start -->
         <div class="header-middle">
            <div class="container header-middle-cont">
               <div class="toplogo">
                  <a href="/">
                  <img src="shopdemo/img/logoShadowHunter.png" alt="AllStore - MultiConcept eCommerce Template">
                  </a>
               </div>
               <div class="shop-menu">
                 <ul>
                    <li>
                       <a href="#">
                       <i class="fa fa-heart"></i>
                       <span class="shop-menu-ttl">Wishlist</span> (
                       <span id="topbar-favorites">1</span>)
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       <i class="fa fa-bar-chart"></i>
                       <span class="shop-menu-ttl">Compare</span> (5)
                       </a>
                    </li>
                    <li class="topauth">
                       <a href="#">
                       <i class="fa fa-lock"></i>
                       <span class="shop-menu-ttl">Registration</span>
                       </a>
                       <a href="#">
                       <span class="shop-menu-ttl">Login</span>
                       </a>
                    </li>
                    <li>
                       <div class="h-cart">
                          <a href="#">
                          <i class="fa fa-shopping-cart"></i>
                          <span class="shop-menu-ttl">Cart</span> (
                          <b>0</b>)
                          </a>
                       </div>
                    </li>
                 </ul>
               </div>
            </div>
         </div>
         <!-- Logo, Shop-menu - end -->
         <!-- Topmenu - start -->
         <div class="header-bottom">
            <div class="container">
               <nav class="topmenu">
               </nav>
            </div>
         </div>
         <!-- Topmenu - end -->
      </header>
      <!-- Header - end -->
      <!-- Main Content - start -->
      <main>
         <section class="container stylization maincont">
            <ul class="b-crumbs">
               <li>
                  <a href="/">
                  Home
                  </a>
               </li>
               <li>
                  <span>Contacts</span>
               </li>
            </ul>
            <h1 class="main-ttl"><span>Contacts</span></h1>
            <!-- Contacts - start -->
            <br>
            <div class="iconbox-wrap">
               <div class="row iconbox-list">
                  <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
                     <p class="iconbox-i-img">
                        <!-- NO SPACE --><img src="shopdemo/img/contacts/1.png" alt=""><!-- NO SPACE -->
                     </p>
                     <h3 class="iconbox-i-ttl">097 203 77 02</h3>
                     Let's have a<br>
                     talk together
                     <span class="iconbox-i-margin"></span>
                  </div>
                  <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
                     <p class="iconbox-i-img">
                        <!-- NO SPACE --><img src="shopdemo/img/contacts/2.png" alt=""><!-- NO SPACE -->
                     </p>
                     <h3 class="iconbox-i-ttl">Our address</h3>
                     Room 202, VNU - ITP, Linh Trung Ward, Thu Duc District, Vietnam
                     <span class="iconbox-i-margin"></span>
                  </div>
                  <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
                     <p class="iconbox-i-img">
                        <!-- NO SPACE --><img src="shopdemo/img/contacts/3.png" alt=""><!-- NO SPACE -->
                     </p>
                     <h3 class="iconbox-i-ttl">Schedule</h3>
                     Mon-Fri 07:00-22:00<br>
                     Sat-Sun closed
                     <span class="iconbox-i-margin"></span>
                  </div>
               </div>
            </div>
            <!-- Contacts Info - end -->
            <div class="social-wrap">
               <div class="social-list">
                  <div class="social-i">
                     <a rel="nofollow" target="_blank" href="http://facebook.com/">
                        <p class="social-i-img">
                           <i class="fa fa-facebook"></i>
                        </p>
                        <p class="social-i-ttl">Facebook</p>
                     </a>
                  </div>
                  <div class="social-i">
                     <a rel="nofollow" target="_blank" href="http://google.com/">
                        <p class="social-i-img">
                           <i class="fa fa-google-plus"></i>
                        </p>
                        <p class="social-i-ttl">Google +</p>
                     </a>
                  </div>
                  <div class="social-i">
                     <a rel="nofollow" target="_blank" href="http://twitter.com/">
                        <p class="social-i-img">
                           <i class="fa fa-twitter"></i>
                        </p>
                        <p class="social-i-ttl">Twitter</p>
                     </a>
                  </div>
                  <div class="social-i">
                     <a rel="nofollow" target="_blank" href="http://instagram.com/">
                        <p class="social-i-img">
                           <i class="fa fa-instagram"></i>
                        </p>
                        <p class="social-i-ttl">Instagram</p>
                     </a>
                  </div>
                  <div class="social-i">
                     <a rel="nofollow" target="_blank" href="http://youtube.com/">
                        <p class="social-i-img">
                           <i class="fa fa-youtube"></i>
                        </p>
                        <p class="social-i-ttl">Youtube</p>
                     </a>
                  </div>
               </div>
            </div>
            <!-- Contact Form -->
            <div class="contactform-wrap">
               <form action="#" class="form-validate">
                  <h3 class="component-ttl component-ttl-ct component-ttl-hasdesc"><span>Order</span></h3>
                  <p class="component-desc component-desc-ct">Please provide us with the following information</p>
                  <p class="contactform-field contactform-text">
                     <label class="contactform-label">Name*</label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Name" type="text" name="name" data-required="text"></span>
                  </p>
                  <p class="contactform-field contactform-email">
                     <label class="contactform-label">E-mail*</label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Your E-mail" type="email" name="email" data-required="email"></span>
                  </p>
                  <p class="contactform-field contactform-text">
                     <label class="contactform-label">Mobile Phone*</label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Mobile Phone" type="text" name="phone" data-required="text"></span>
                  </p>
                  <p class="contactform-field contactform-text">
                     <label class="contactform-label">Quantity*</label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Quantity* (Minimum of 10)" type="text" name="quantity" data-required="text"></span>
                  </p>
                  <p class="contactform-field contactform-text">
                    <%# <label class="contactform-label">Product Type*</label>%>
                    <span class="contactform-input">
                      <select style="margin-left: 120px; width: 80%;">
                        <option>--- Product Type* ---</option>
                        <option value="shirts">shirts</option>
                        <option value="hats">hats</option>
                        <option value="bags">bags</option>
                        <option value="socks">socks</option>
                        <option value="calendar">calendar</option>
                        <option value="mugs">mugs</option>
                        <option value="pillows">pillows</option>
                        <option value="phone-case">phone-case</option>
                      </select>
                    </span>
                  </p>
                  <p class="contactform-field contactform-textarea">
                     <label class="contactform-label">Imprint Information</label><!-- NO SPACE --><span class="contactform-input"><textarea placeholder="Text Imprint Color(s) - Text Imprint Size, Font, and Other Info - Logo Imprint Description - Logo Imprint Color(s)" name="message" data-required="text"></textarea></span>
                  </p>
                  <p class="contactform-field contactform-text">
                     <label class="contactform-label">Attach Logo Art File</label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Attach Logo Art File" type="file" name="logo" multiple></span>
                  </p>
                  <p class="contactform-submit">
                     <input value="Send" type="submit">
                  </p>
               </form>
            </div>
         </section>
      </main>
      <!-- Main Content - end -->
      <!-- Footer - start -->
      <footer class="footer-wrap">
         <div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="companyinfo">
                     <a href="">
                     <img src="shopdemo/img/logoShadowHunter-b.png" alt="AllStore - MultiConcept eCommerce Responsive HTML5 Template"> We bring to you a creative lab, where you can play with your ideas and enjoy the designing world
                     </a>
                  </div>
                  <div class="f-block-list">
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-1">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/1.jpg" alt="About us">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-info-circle"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">About us</p>
                           <p>Welcome to true colors</p>
                        </div>
                     </div>
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-2">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/2.jpg" alt="Ask questions">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-phone"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">Ask questions</p>
                           <p>We call back within 10 minutes</p>
                        </div>
                     </div>
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-3" data-content="<iframe width='853' height='480' src='https://www.youtube.com/embed/FH0tmYWZdjA?rel=0&amp;showinfo=0' allowfullscreen></iframe>">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/3.jpg" alt="Video (2 min)">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-play-circle"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">Video Process</p>
                           <p>Watch a video about our product</p>
                        </div>
                     </div>
                     <div class="f-block-wrap">
                        <div class="f-block">
                           <a href="#" class="f-block-btn" data-id="#f-block-modal-4">
                              <div class="iframe-img">
                                 <img src="shopdemo/img/footer/4.jpg" alt="Our address">
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-map-marker"></i>
                              </div>
                           </a>
                           <p class="f-info-ttl">Our address</p>
                           <p>Room 202, Vietnam National University Information Technology Park, Linh Trung Ward, Thu Duc District, Vietnam</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container f-menu-list">
            <div class="row">
               <div class="f-menu">
                  <h3>
                     About us
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li class="active"><a href="">Home</a></li>
                     <li><a href="">Contacts</a></li>
                  </ul>
               </div>
               <div class="f-menu">
                  <h3>
                     Shop
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li><a>Apparel</a></li>
                     <li><a>Accessories</a></li>
                     <li><a>Lifestyle</a></li>
                  </ul>
               </div>
               <div class="f-menu">
                  <h3>
                     Information
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li><a href="">News</a></li>
                     <li><a href="">Reviews</a></li>
                  </ul>
               </div>
               <div class="f-menu">
                  <h3>
                     Pages
                  </h3>
                  <ul class="nav nav-pills nav-stacked">
                     <li><a href="">About us</a></li>
                     <li><a href="">Contacts</a></li>
                     <li><a href="">Page 404</a></li>
                  </ul>
               </div>
               <div class="f-subscribe">
                  <h3>Subscribe to news</h3>
                  <form class="f-subscribe-form" action="#">
                     <input placeholder="Your e-mail" type="text">
                     <button type="submit"><i class="fa fa-paper-plane"></i></button>
                  </form>
                  <p>Enter your email address if you want to receive our newsletter. Subscribe now!</p>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <ul class="social-icons nav navbar-nav">
                     <li>
                        <a href="http://facebook.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-facebook"></i>
                        </a>
                     </li>
                     <li>
                        <a href="http://google.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-google-plus"></i>
                        </a>
                     </li>
                     <li>
                        <a href="http://twitter.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-twitter"></i>
                        </a>
                     </li>
                     <li>
                        <a href="http://instagram.com/" rel="nofollow" target="_blank">
                        <i class="fa fa-instagram"></i>
                        </a>
                     </li>
                  </ul>
                  <div class="footer-copyright">
                     <i><a href="http://truecolor.gpat.vn">True Colors</a></i> © Copyright 2017
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer - end -->
      <!-- jQuery plugins/scripts - start -->
      <script src="shopdemo/js/jquery-1.11.2.min.js"></script>
      <script src="shopdemo/js/jquery.bxslider.min.js"></script>
      <script src="shopdemo/js/fancybox/fancybox.js"></script>
      <script src="shopdemo/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
      <script src="shopdemo/js/jquery.flexslider-min.js"></script>
      <script src="shopdemo/js/swiper.jquery.min.js"></script>
      <script src="shopdemo/js/jquery.waypoints.min.js"></script>
      <script src="shopdemo/js/progressbar.min.js"></script>
      <script src="shopdemo/js/ion.rangeSlider.min.js"></script>
      <script src="shopdemo/js/chosen.jquery.min.js"></script>
      <script src="shopdemo/js/jQuery.Brazzers-Carousel.js"></script>
      <script src="shopdemo/js/plugins.js"></script>
      <script src="shopdemo/js/main.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
      <script src="shopdemo/js/gmap.js"></script>
      <!-- jQuery plugins/scripts - end -->
   </body>
</html>
